[Unit]
Description={{ docker_service_name }} Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ docker_service_name }}
ExecStop=/usr/bin/docker stop -t 2 {{ docker_service_name }}

[Install]
WantedBy=default.target